---
import Layout from "../layouts/Layout.astro";
import PonentesHeader from "../ui/ponentes/PonentesHeader.astro";
import PonentesList from "../ui/ponentes/PonentesList.astro";
---

<Layout title="Ponentes | InnovaTech Ica 2025">
  <main class="min-h-screen bg-gradient-to-b from-white to-gray-50">
    <PonentesHeader />
    
    <section class="px-4 py-16 max-w-7xl mx-auto -mt-12 relative z-10">
      <PonentesList />
    </section>
  </main>
</Layout>
