---
import { Image } from 'astro:assets';
import SoloLogo from '/src/assets/logo_texto.png';

interface Props {
  loading?: "eager" | "lazy";
}

const { loading = "lazy" } = Astro.props;
---

<div class="logo-container">
  <a href="/" class="group flex items-center space-x-3 transition-transform duration-300 transform hover:scale-105">
    <div class="logo-image-container overflow-hidden rounded-lg relative">
      <div class="logo-glow absolute inset-0 bg-blue-400 opacity-0 blur-md transition-opacity duration-700 group-hover:opacity-20"></div>
      <Image
        src={SoloLogo}
        alt="InnovaTech Ica 2025"
        class="h-11 w-auto z-10 relative transition-all duration-500 hover:brightness-110"
        loading={loading}
      />
    </div>
  </a>
</div>
