---
import AnimatedLogo from "../AnimatedLogo.astro";
---

<div class="col-span-1 lg:col-span-1">
  <div class="flex items-center mb-4">
    <a href="/" class="focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 focus-visible:ring-opacity-75 rounded">
      <AnimatedLogo loading="lazy" />
    </a>
  </div>
  <p class="text-gray-600 mt-4 text-sm leading-relaxed">
    Innovatech es el evento tecnológico más importante del año, conectando expertos y entusiastas para 
    compartir conocimientos y explorar las últimas tendencias.
  </p>
</div>
