---
import AnimatedLogo from "../AnimatedLogo.astro";
---

<div class="col-span-1 lg:col-span-1">
  <div class="flex items-center mb-4">
    <AnimatedLogo loading="lazy" />
  </div>
  <p class="text-gray-600 mt-4 text-sm leading-relaxed">
    Innovatech es el evento tecnológico más importante del año, reuniendo a expertos de la industria 
    y entusiastas de la tecnología para compartir conocimientos y explorar las últimas tendencias.
  </p>
</div>
